a,
a.btn {
    color: royalblue;
}

h1 {}

p {
    color: #555555;
}

em {
    color: purple
}

.wnode {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

span.wtip {
    color: gray;
    font-size: 10px;
    display: block;
    position: absolute;
    bottom: 0;
}

.meta-priority-deadline {
    font-size: 12px
}

.subtasks li {
    display: block !important;
}

small.very {
    font-size: 0.6em;
}