<div class="tasks-wrapper pt-2 pb-2">
    <strong>Tasks</strong> {% if tasks %}
    <div class="tasks ml-2 list-group">
        {% for t in tasks %}
        <div class="task list-group-item" data-var='{{node}}.tasks'>
            {% with node='task', priority=t.priority, deadline=t.deadline %} {% include 'priority_deadline.html' %} {% endwith %} {{t.name}} {% if t.desc %}
            <p>
                {{t.desc}}
            </p>
            {% endif %}
            <div class="section">
                {% with node='task', users=t.users, groups=t.groups %} {% include 'stakeholders.html' %} {% endwith %}
            </div>
            {% if t.subtasks %}
            <div class="section subtasks">
                <label>Subtasks</label>
                <ul>
                    {% for sub in t.subtasks %}
                    <li data-var='{{node}}.task.subtasks'>
                        <label class='checkbox'><input type="checkbox" /> {{sub}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p data-var='{{node}}.tasks'>
        <small>Tasklist is empty</small>
    </p>
    {% endif %}
</div>