<div class="tasks-wrapper pt-2 pb-2">
    <strong>Tasks</strong> {% if tasks %}
    <div class="tasks ml-2 list-group">
        {% for t in tasks %}
        <div class="task list-group-item" data-var='{{node}}.tasks'>
            <div class="row">
                <div class="col-sm-4">
                    <span data-var='t.priority' class='priority priority-{{t.priority}}'>[ {{t.priority|default('Normal', true)}} ]</span>
                </div>
                <div class="col-sm-4">
                    <span data-var='t.deadline.starts' class='deadline deadline-{{t.deadline.starts}}'>[ {{t.deadline.starts|default('Open Timeline', true)}} ]</span>
                </div>
                <div class="col-sm-4">
                    <span data-var='t.deadline.ends' class='deadline deadline-{{t.deadline.ends}}'>[ {{t.deadline.ends|default('Open Timeline', true)}} ]</span>
                </div>
            </div>
            {{t.name}} {% if t.desc %}
            <p>
                {{t.desc}}
            </p>
            {% endif %}
            <div class="section">
                {% with node='task', users=t.users, groups=t.groups %} {% include 'stakeholders.html' %} {% endwith %}
            </div>
            {% if t.subtasks %}
            <div class="section">
                <label>Subtasks</label>
                <ul>
                    {% for sub in t.subtasks %}
                    <li data-var='{{node}}.task.subtasks'>
                        {{sub}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p data-var='{{node}}.tasks'>
        <small>Tasklist is empty</small>
    </p>
    {% endif %}
</div>